body {
    background-image: url("../img/bg-image.svg");
    background-repeat: no-repeat;
    text-align: center;
}
.titulo {
    font-size: 64px;
}
.parrafo {
    font-size: 32px;
}
.formulario {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.descripcion{
    width: min-content;
    text-align: left;
    margin: 0;
}
#inputs {
    width: 300px;
}
#select {
    width: 307px;
}